<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="{% static "css/users.css" %}">
  </head>
  <body>
    <h1>Here are your users:</h1>
    <div class="myUsersList">
      {% if users_list %}
      <ol>
      {% for user in users_list %}
      <li>User Info
        <ul>
          <li>First Name: {{ user.first_name }}</li>
          <li>Last Name: {{ user.last_name }}</li>
          <li>Email: {{ user.email }}</li>
        </ul>
      </li>
      {% endfor %}
      </ol>

      {% else %}

      <p>It seems there are no users to show!</p>

      {% endif %}

    </div>

  </body>
</html>
